body {
    color : #A4C7DF;
    background-color : #001122;
    font-family: 'PT Sans', sans-serif;
    font-size : 14px;
    cursor : default;
}

.title {
    padding-top : 30px;
    font-size: 26px;
    text-align: center;
}

a {
    color: #B6E3F3;
    text-shadow: 0px 0px 3px rgba(100, 187, 214, 0.31);
}

a:hover {
    color: #D2F3FF;
    text-shadow: 0px 0px 4px rgba(180, 237, 255, 0.31);
}

.editable_area {
    border : 1px solid #aabbcc;
}


.caps_container {
    width : 300px;
}


.caps_held, .caps_released {
    border : 1px solid #334455;
    text-align : center;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-right : auto;
    margin-left: auto;
    height : 25px;
    width : 100px;
    padding-top : 5px;
}

.caps_held {
    background-color : #223344;
}

.caps_released {
    background-color : #112233;
}

#log {
    height : 200px;
    overflow:scroll;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width : 300px;
}

textarea {
    width : 298px;
    padding : 0;
    height : 100px;
    background-color : #112233;
    outline: none !important;
    border : 1px solid #334455;
    color : #aabbcc;
    resize : none;
    font-family : sans;
    text-size: 12px;
}

input {
    margin-top : 5px;
    width : 298px;
    padding : 0;
    background-color : #112233;
    outline: none !important;
    border : 1px solid #334455;
    color : #aabbcc;
    font-family : sans;
    text-size: 12px;
}


#password_result {
    height : 20px;
    font-family : sans;
    text-size: 12px;
    color : #778899;
}


.editable_area {
    width : 298px;
    padding : 0;
    height : 100px;
    background-color : #112233;
    outline: none !important;
    border : 1px solid #334455;
    color : #aabbcc;
    resize : none;
    font-family : sans;
    text-size: 12px;
}

